*{
	font-family: "Times New Roman";
}


h1{
	text-align: center;
	font-size: 16pt;
}

nav:hover{
	cursor: pointer;
	text-color: blue;
}

.sec_head{
	text-align: left;
	font-variant: small-caps;
	text-decoration: underline;
}

.bullets{
	list-style: square;
	word-wrap: break-word;
}

table{
	display: inline-block;
	width: 80%;
	border-collapse: collapse;
	margin: 20px auto;
	border: 5px solid black;
}

th, td{
	padding: 3px;
	border: 1px solid black;
	text-align: center;
	word-wrap: break-word;
}

#th{
	font: bold small-caps;
	background-color: navy;
	color: white;
}

span{
	text-decoration: underline;
	font: bold;
}



.center{
	text-align: center;
}
	
	
